* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background: black;
    height: 33.33vh;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

input {
    background: black;
    border: none;
    padding-top: 30px;   
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    outline: none;
}

input::placeholder, input {
    color: #555;
    font-size: 6rem;
}

body {
    font-family: sans-serif;
}


